<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Technical Blog</title>
</head>

<header th:replace="layout :: logged-out"></header>

<h1> Latest 3 Posts</h1>
<main id="posts">

    <article th:each="p : ${posts}">
        <h2 class="title" th:text="${p.title}"> Post Title </h2>
        <div class="date">
            <i>Posted On</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2010</span>
        </div>
        <p class="content" th:utext="${p.body}">Post Content</p>
        <hr/>
    </article>
</main>

<main></main>
</html>